
<launch>
 
  <!-- Name of the map to use and initial position -->
  <arg name="map_file"       default="$(find omnirobot_loc_and_mapping)/maps/map2.yaml"/> 
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <arg name="odom_frame_id"   default="odom"/>
  <arg name="global_frame_id" default="map"/>

  <param name="/use_sim_time" value="true"/>


  <!--  ****** Maps *****  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map"/>
  </node>


  <!--  ****** amcl *****  -->
  <include file="$(find omnirobot_loc_and_mapping)/launch/amcl.launch.xml">
    <arg name="scan_topic" value="multi_scan"/>
    <arg name="use_map_topic" value="true"/>
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>


  <!--  **************** Static transformation ****************  -->
	<include file="$(find omnirobot_loc_and_mapping)/launch/static_transforms.launch.xml"/>

	<!--  **************** Scan merger ****************  -->
	<include file="$(find omnirobot_loc_and_mapping)/launch/scan_merger.launch.xml"/>

	<!--  **************** Visualisation ****************  -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find omnirobot_loc_and_mapping)/rviz/omnirobot_loc_and_mapping.rviz"/>

	<!--  **************** Odometry to tf ****************  -->
	<node pkg="omnirobot_loc_and_mapping" type="odom_tf" name="odom_tf"/>

  <!--  **************** Save history of poses for trajectory ****************  -->
	<node pkg="omnirobot_loc_and_mapping" type="save_amcl_pose.py" name="save_amcl_pose" output="screen"/>
  
</launch>
